@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'druk_webbold';
        src: url('../fonts/druk-bold-web-webfont.woff2') format('woff2'),
        url('../fonts/druk-bold-web-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    [x-cloak] {
        display: none;
    }

}

@layer components {
    .wrapper {
        @apply w-full max-w-7xl px-4 md:px-6 lg:px-8 mx-auto;
    }

    .tilt {
        transform-style: preserve-3d;
        transform: perspective(500px);
    }

    .tilt .tilt-child-bottom {
        transform: translateZ(30px);
    }

    .tilt .tilt-child-top {
        transform: translateZ(60px);
    }
}





